<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gallery.ui.material">

    <application>
        <activity
            android:name=".activity.MaterialGalleryActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.MaterialPreActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>